/*TODO: CHANGE ALL EMS TO PX? I was super noobish in using ems for everything... these apparently scale with the browser's font size... probably going to need to change this at some point (I do like them being larger units though :P) On every browser I've used, 1em = 16px though so I haven't actually seen them scale in practice UPDATE: HAVE SEEN THEM SCALE IN PRACTICE, could not use em for the toolbar because the dropdown 3em was bigger than the non-dropdown 3em
/*Top strip*/
div#toolbar {
    margin-left: auto;
    margin-right: auto;
    width: 30em;
    display: flex;
}

#toolbar .number-box.dropdown {
    height: 56px;
    min-width: 56px;
    width: 56px;
    margin-left: 10px;
    border: 1px solid gray;
}
#toolbar .number-box {
    font-size: 48px;
    text-align: center;
    font-family: "Times New Roman";
}

.dropdown-content .dropdown-number:hover {

}

#toolbar .dropdown-content .number-box {
    display:inline-block;
}

#toolbar #mathquill-box {
    width: inherit; /*effectively "large as possible"*/
    font-size: 3em;
    text-align:center;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content {
    display: none; /*Shown only on hover of parent*/
    position: absolute;
    background: white;
    border: 1px solid gray;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 306px;
    height: 56px;
}
.dropdown-content .number-box span:hover {
    font-size: 56px;
    display: inline-block;
    margin-top: -18px;
}
#one-box {
    color: red;
}

#two-box {
    color: orange
}
#three-box {
    color: yellow;
}
#four-box {
    color: green;
}
#five-box {
    color: blue;
}
#six-box {
    color: cyan;
}
#seven-box {
    color: purple;
}
#eight-box {
    color: brown;
}
#nine-box {
    color: pink;
}
#zero {
    color: black;
}
div#trash{
    position: fixed;
    width: 6em;
    height: 6em;
    bottom: 1em;
    right: 1em;
    background-color: red;
    border-radius: 10px;
    opacity: 0;
}
/*
div.ui-draggable {
    cursor: pointer;

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

div.number-container, div.operation-container {
    display: inline-block;
    position: absolute;
    width: 2em;
    height: 2em;
}


div.operation{
    width: 2em;
    height: 2em;
}

div.number {
    display: inline-block;
}

div.snapped {
    font-weight: bold;
}
div.snapped.add {
    color: #0074D9;
}
div.snapped.subtract{
    color: red;
}
div.snapped.multiply{
    color: green;
}
div.snapped.divide{
    color: #FFD700;
}

div.operation-text, div.number-text {
    display: inline-block;
    font-family: "Times New Roman";
    font-size: 3em;
    margin-top: -0.24em;
    margin-left: 0.04em;
}

div.snapbox {
    position: absolute;
    width: 2em;
    height: 2em;
    border: 1px dotted black;
}
div.snapbox-left  {
    margin-left: -3em;
}
div.snapbox-right {
    margin-left: 3em;
}
*/
#playground {
    position: relative;
    margin-top: 5px;
    border: 1px solid black;
    width: 100%;
    height: 64em;
    /*background-color: paleturquoise;*/
}

#snap-test {
    border: 1px solid red;
}

