div.operation-container {
    display: flex;
    flex-direction: row;
    height: 56px;
    width: 200px; /*For some reason something (jQuery UI I think) sets the div to a width of 1000+ if we don't set a width explicitly.*/
}
div.operation-text {
    font-family: "Times New Roman";
    text-align: center;
    font-size: 3em;
    display: inline-block;
}

div.snapped {
    font-weight: bold;
}
div.snapped.add {
    color: #0074D9;
}
div.snapped.subtract{
    color: red;
}
div.snapped.multiply{
    color: green;
}
div.snapped.divide{
    color: #FFD700;
}

div.snapbox {
    display: inline-block;
    min-width: 32px;
    width: auto;
    height: 32px;
    position: relative;
}

div.snapbox.border {
    border: 1px dotted black;
}
div.snapbox-left {
    margin-right: 12px;
    top: 50%;
    transform: translateY(-50%);
}

div.snapbox-right {
    margin-left:12px;
    top: 50%;
    transform: translateY(-50%);
}

div.snapbox-top {
    margin-bottom: -20px;
    margin-left: 6px;
    margin-right: 6px;
}

div.snapbox-bottom {
    margin-top: -20px;
    margin-left: 6px;
    margin-right: 6px;
}